<div class="card card-custom gutter-b">
    <div class="card-body">

        <div class="row justify-content-center py-6 px-4 py-lg-6 px-lg-5">
            <div class="col-xl-12">
                <!--begin: Form Actions -->
                <div class="d-flex justify-content-between border-bottom pb-5">
                    <div class="mr-2">
                        <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                            (click)="setFalseShowReport()"
                            [hidden]="!isShowReport">
                            Voltar
                        </div>
                    </div>
                    <div>

                        
                        <button [hidden]="isShowReport"  class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                            (click)="generateReport()" [disabled]="isDisabled">
                            Gerar Relatório
                        </button>

                        <div [hidden]="!isShowReport" ngbDropdown>
                            <a class="btn btn-success font-weight-bold text-uppercase px-9 py-4" id="dropdownExport" ngbDropdownToggle >
                                Exportar
                                <i class="ki ki-arrow-down pl-2" style="font-size: .8em;"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownExport" class="px-9 py-4 font-weight-bold">
                                <button class="dropdown-item" (click)="exportAs('xlsx')">Excel</button>
                                <button class="dropdown-item" (click)="exportAs('pdf', 'landscape')">PDF</button>
                                <button class="dropdown-item" (click)="exportAs('png')">Imagem</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end: Form Actions -->
                <!--begin: Form Wizard Form-->
                <form class="form" id="kt_form" [formGroup]="reportForm">
                    <!--begin: Form Wizard Step 1-->
                    <div class="pb-5">
                        <div [hidden]="isShowReport">
                            <div class="form-group m-0">
                                <!-- <label class="h4">Escolha o tipo de relatório:</label> -->
                                <div class="row pt-6">
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                    <input type="radio" value="periodic-reports" formControlName="report" />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Periódico
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório periódico dos lançamentos realizados.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">

                                                    <input type="radio" value="fullReport" formControlName="report" />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Evolução total
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório com valores percentuaias de lançametos e evolução dos
                                                    pacientes no programa.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                    <input type="radio" value="completedReport" formControlName="report" />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Concluídos
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório com valores totais e percentuaias de lançamentos e
                                                    resultado alcançado pelos pacientes.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-8"></div>

                            <label class="h5">
                                <i class="fa fa-filter" style="color: black; font-weight: 600;"></i>
                                Filtros
                            </label>
                            <div class="row">                                
                                <ng-container *ngIf="this.reportForm.value.report == 'periodic-reports'">
                                    <div class="col-lg-4">
                                        <label class="form-text text-muted"><b>Período</b></label>
                                        <date-period-input [inputMaxDate]="maxDate"
                                        [fcInitialDate]="'initialDate'"
                                        [fcFinalDate]="'finalDate'"
                                        [formGroupBase]="reportForm"></date-period-input>
                                    </div>
                                </ng-container>

                                <div class="col-lg-4">
                                    <label class="form-text text-muted"><b>Grupo</b></label>
                                    <select class="form-control" name="groupId" autocomplete="off" formControlName="groupId">
                                        <option value="" disabled selected>Selecione</option>
                                        <option *ngFor="let grupo of grupoService.items$ | async" value="{{grupo.id}}">{{grupo.name}}</option>                                       
                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <label class="form-text text-muted"><b>Situação</b></label>
                                    <select class="form-control" name="status" placeholder="Selecione" autocomplete="off" formControlName="status">
                                        <option value="CANCELED">Cancelado</option>
                                        <option value="ACTIVE">Ativo</option>
                                        <option value="COMPLETED">Concluído</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="generateRelatorio == 'periodic-reports'">
                            <app-relatorio-semanal [data]="datateste" [relatorio]="model"></app-relatorio-semanal>
                        </ng-container>

                        <ng-container *ngIf="generateRelatorio == 'fullReport'">
                            <app-relatorio-evolucao [data]="datateste" [relatorio]="model"></app-relatorio-evolucao>
                        </ng-container>

                        <ng-container *ngIf="generateRelatorio == 'completedReport'">
                            <app-relatorio-concluido [data]="datateste" [relatorio]="model"></app-relatorio-concluido>
                        </ng-container>
                    </div>
                    <!--end: Form Wizard Step 5-->


                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>