<div class="card card-custom gutter-b">
    <div class="card-body">

        <div class="row justify-content-center py-6 px-4 py-lg-6 px-lg-5">
            <div class="col-xl-12">
                <!--begin: Form Actions -->
                <div class="d-flex justify-content-between border-bottom pb-5">
                    <div class="mr-2">
                        <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                            data-wizard-type="action-prev" (click)="setgenerateRelatorioFalse()"
                            *ngIf="generateRelatorio">
                            Voltar
                        </div>
                    </div>
                    <div>

                        <div ngbDropdown class="d-inline-block" *ngIf="generateRelatorio">
                            <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4" id="dropdownExport" ngbDropdownToggle>
                                Exportar
                                <i class="ki ki-arrow-down pl-2" style="font-size: .8em;"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownExport" class="px-9 py-4 font-weight-bold">
                                <button class="dropdown-item" (click)="exportAs('xlsx')">Excel</button>
                                <button class="dropdown-item" (click)="exportAs('pdf', 'landscape')">PDF</button>
                                <button class="dropdown-item" (click)="exportAs('png')">Imagem</button>
                            </div>
                        </div>

                        <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                            data-wizard-type="action-next" (click)="genarete()" *ngIf="!generateRelatorio">
                            Gerar Relatório
                        </button>
                    </div>
                </div>
                <!--end: Form Actions -->
                <!--begin: Form Wizard Form-->
                <form class="form" id="kt_form" [formGroup]="formGroup">
                    <!--begin: Form Wizard Step 1-->
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        <ng-container *ngIf="!generateRelatorio">
                            <div class="form-group m-0">
                                <!-- <label class="h4">Escolha o tipo de relatório:</label> -->
                                <div class="row pt-6">
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                    <input type="radio" value="semanal" formControlName="relatorio" />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Periódico
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório periódico dos lançamentos realizados.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">

                                                    <input type="radio" value="evtotal" formControlName="relatorio" />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Evolução total
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório com valores percentuaias de lançametos e evolução dos
                                                    pacientes no programa.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                    <input type="radio" value="conclui" formControlName="relatorio" />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Concluídos
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório com valores totais e percentuaias de lançamentos e
                                                    resultado alcançado pelos pacientes.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-8"></div>

                            <label class="h5">
                                <i class="fa fa-filter" style="color: black; font-weight: 600;"></i>
                                Filtros
                            </label>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="form-text text-muted"><b>Grupo</b></label>
                                    <select class="form-control" name="grupo" placeholder="Selecione" autocomplete="off"
                                        formControlName="grupo">
                                        <option *ngFor="let grupo of grupoService.items$ | async" value="{{grupo.id}}">{{grupo.name}}</option>                                       
                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <label class="form-text text-muted"><b>Situação</b></label>
                                    <select class="form-control" name="status" placeholder="Selecione"
                                        autocomplete="off" formControlName="status">
                                        <option value="">Todos</option>
                                        <option value="1">Cancelado</option>
                                        <option value="2">Ativo</option>
                                        <option value="3">Pendente</option>
                                    </select>
                                </div>

                                <ng-container *ngIf="this.formGroup.value.relatorio == 'semanal'">
                                    <div class="col-lg-4">
                                        <label class="form-text text-muted"><b>Semana</b></label>
                                        <select class="form-control" name="semana" placeholder="Selecione"
                                            autocomplete="off" formControlName="semana">
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="generateRelatorio && model.relatorio == 'semanal'">
                            <app-relatorio-semanal [data]="data" [relatorio]="model"></app-relatorio-semanal>
                        </ng-container>

                        <ng-container *ngIf="generateRelatorio && model.relatorio == 'evtotal'">
                            <app-relatorio-evolucao [data]="data" [relatorio]="model"></app-relatorio-evolucao>
                        </ng-container>

                        <ng-container *ngIf="generateRelatorio && model.relatorio == 'conclui'">
                            <app-relatorio-concluido [data]="data" [relatorio]="model"></app-relatorio-concluido>
                        </ng-container>
                    </div>
                    <!--end: Form Wizard Step 5-->


                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>