<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin: Wizard -->
        <div #wizard class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first">
            <div class="kt-grid__item">
                <!--begin: Form Wizard Nav -->
                <div class="wizard-nav border-bottom mb-1 mb-lg-5">
                    <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
                        <a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
                            <div class="wizard-label">
                                <div class="wizard-title"><span>1</span> ADICIONAR FILTROS</div>
                                <div class="wizard-bar"></div>
                            </div>
                        </a>
                        <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                            <div class="wizard-label">
                                <div class="wizard-title"><span>2</span> EXIBIR E EXPORTAR RELATÓRIO</div>
                                <div class="wizard-bar"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <div class="row justify-content-center py-12 px-8 py-lg-15 px-lg-10">
                <div class="col-xl-12">
                    <!--begin: Form Wizard Form-->
                    <form class="form" id="kt_form"  [formGroup]="formGroup">
                        <!--begin: Form Wizard Step 1-->
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <div class="form-group m-0">
                                <label class="h4">1° Escolha o tipo de relatório:</label>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                    <!-- <input type="radio" [(ngModel)]="model.relatorio" name="m_option_1" value="1"
                                                        checked="checked" /> -->
                                                        
                                                    <input type="radio" 
                                                        value="1" 
                                                        formControlName="relatorio"
                                                    />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Semanal
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório semanal dos lançamentos realizados pelos pacientes.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                
                                                    <input type="radio" 
                                                        value="2" 
                                                        formControlName="relatorio"
                                                    />
                                                    <!-- <input type="radio" [(ngModel)]="model.relatorio" name="m_option_2" value="2" /> -->
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Evolução total
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório com valores percentuaias de lançametos e evolução dos
                                                    pacientes no programa.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="option">
                                            <span class="option-control">
                                                <span class="radio">
                                                    <input type="radio" 
                                                        value="3" 
                                                        formControlName="relatorio"
                                                    />
                                                    <span></span>
                                                </span>
                                            </span>
                                            <span class="option-label">
                                                <span class="option-head">
                                                    <span class="option-title">
                                                        Concluídos
                                                    </span>
                                                </span>
                                                <span class="option-body">
                                                    Relatório com valores totaias e percentuaias de lançamentos e
                                                    resultado alcançado pelos pacientes.
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="separator separator-dashed my-8"></div>

                            <label class="h4">2° Adicione Filtros:</label>

                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="form-text text-muted"><b>Grupo</b></label>
                                    <select class="form-control" 
                                            name="grupo"
                                            placeholder="Selecione"
                                            autocomplete="off"
                                            formControlName="grupo">
                                        <option value="">Todos</option>
                                        <option value="1">Cancelado</option>
                                        <option value="2">Ativo</option>
                                        <option value="3">Pendente</option>
                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <label class="form-text text-muted"><b>Status</b></label>
                                    <select class="form-control"
                                            name="status"
                                            placeholder="Selecione"
                                            autocomplete="off"
                                            formControlName="status">
                                        <option value="">Todos</option>
                                    </select>
                                </div>

                                <ng-container *ngIf="this.formGroup.value.relatorio == '1'">
                                    <div class="col-lg-4">
                                        <label class="form-text text-muted"><b>Semana</b></label>
                                        <select class="form-control" 
                                            name="semana"
                                            placeholder="Selecione"
                                            autocomplete="off"
                                            formControlName="semana"
                                            >
                                            <option value="">Todos</option>
                                        </select>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->

                        <!--begin: Form Wizard Step 5-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <ng-container *ngIf="generateRelatorio && model.relatorio == '1'">
                                <app-relatorio-semanal [data]="data"></app-relatorio-semanal>
                            </ng-container>

                            <ng-container *ngIf="generateRelatorio && model.relatorio == '2'">
                                <app-relatorio-evolucao [data]="data"></app-relatorio-evolucao>
                            </ng-container>

                            <ng-container *ngIf="generateRelatorio && model.relatorio == '3'">   
                                <app-relatorio-concluido [data]="data"></app-relatorio-concluido>
                            </ng-container>
                        </div>
                        <!--end: Form Wizard Step 5-->

                        <!--begin: Form Actions -->
                        <div class="d-flex justify-content-between border-top pt-10">
                            <div class="mr-2">
                                <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                                    data-wizard-type="action-prev" (click)="setgenerateRelatorioFalse()">
                                    Voltar
                                </div>
                            </div>
                            <div>
                                <div
                                    class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                                    data-wizard-type="action-submit">
                                    Exportar
                                </div>
                                <button class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                                    data-wizard-type="action-next" 
                                    (click)="genarete()">
                                    Gerar Relatório
                                </button>
                            </div>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                    <!--end: Form Wizard Form-->
                </div>
            </div>
        </div>
        <!--end: Wizard -->
    </div>
</div>