th, td {
    vertical-align: middle;
    text-align: center;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
}

.bg-group {
    color: white;
    background-color: #6993FF;
}

.bg-default {
    // background-color: #d1e9f9;
}

.container-chart {
    min-width: 100%;
}