<div class="modal-header">
    <div class="modal-title h4">Monitoramento de pasciente</div>
    <div>
        <button type="button" class="btn btn-light btn-elevate mr-1" (click)="modal.dismiss()">
            Cancelar
        </button>

        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-success font-weight-bold text-uppercase" id="dropdownBasic1" ngbDropdownToggle>
                Exportar
                <i class="ki ki-arrow-down pl-2" style="font-size: .8em;"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="px-9 py-4 font-weight-bold">
                <button class="dropdown-item" (click)="exportAs('pdf', 'landscape')">PDF</button>
                <button class="dropdown-item" (click)="exportAs('png')">Imagem</button>
            </div>
        </div>
    </div>
    
</div>
<div id="relMonitoramento" class="modal-body">
    <app-relatorio-paciente></app-relatorio-paciente>
</div>
