<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="register">
        <ng-container *ngIf="register.id">Alterar</ng-container>
        <ng-container *ngIf="!register.id">Cadastrar</ng-container>
        contrato
        <ng-container *ngIf="register.id">'{{ register.id }}'</ng-container>
      </ng-container>
    </div>
  </div>

  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">

    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="register">

      <!-- EXIBINDO DADOS PACIENTE -->
      <div class="col-lg-12" *ngIf="!!id">
        <label>Paciente</label>
        <div class="input-group input-group-solid">
          <div class="form-control form-control-lg form-control-solid">
            {{ register?.patient?.name || "*" }} - {{ register?.patient?.phone || "*" }}
          </div>
        </div>
      </div>

      <div class="col-lg-12" *ngIf="!id">
        <label>Paciente</label>
        <div class="input-group input-group-solid">
          <input type="text" 
            class="form-control form-control-lg form-control-solid" 
            placeholder="Pesquisar" 
            [ngbTypeahead]="search"                     
            [resultFormatter]="resultFormatBandListValue"
            [inputFormatter]="inputFormatBandListValue"
            [(ngModel)]="pacienteIdContrato"
          />
        </div>
      </div>

      <!-- FORM CONTRATO-->
      <form action="#" class="form form-label-right" [formGroup]="formContrato">
        <div class="col-lg-12">
          <div class="form-group row">
            <div class="col-lg-6">
              <label>Data de início</label>
              <div class="input-group input-group-solid">
                <input type="text" name="startDate" class="form-control form-control-lg form-control-solid"
                  autocomplete="off" placeholder="dd/mm/yyyy" ngbDatepicker #startDate="ngbDatepicker"
                  [class.is-invalid]="isControlInvalid('startDate')" [class.is-valid]="isControlValid('startDate')"
                  formControlName="startDate" readonly="true" [minDate]="minDate" [disabled]="!!id" />
                <div class="input-group-append" (click)="!!!id ? startDate.toggle() : false">
                  <span class="input-group-text">
                    <i class="text-dark-50 flaticon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <label>Data de conclusão</label>
              <div class="input-group input-group-solid">
                <input type="text" name="hiringDate" class="form-control form-control-lg form-control-solid"
                  autocomplete="off" placeholder="dd/mm/yyyy" ngbDatepicker #hiringDate="ngbDatepicker"
                  [class.is-invalid]="isControlInvalid('hiringDate')" [class.is-valid]="isControlValid('hiringDate')"
                  formControlName="hiringDate" readonly="true" [minDate]="minDateConclusao" />
                <div class="input-group-append" (click)="isDisabled() ? false : hiringDate.toggle()">
                  <span class="input-group-text">
                    <i class="text-dark-50 flaticon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <label>Programa</label>
              <select class="form-control form-control-lg form-control-solid" name="programId"
                [class.is-invalid]="isControlInvalid('programId')" formControlName="programId">
                <option value="0" disabled>Selecione</option>
                <option *ngFor="let register of programasService.items$ | async" value="{{register.id}}">
                  {{register.name}}
                </option>
              </select>
            </div>

            <div class="col-lg-6">
              <label>Grupo</label>
              <select class="form-control form-control-lg form-control-solid" name="groupId"
                [class.is-invalid]="isControlInvalid('groupId')" formControlName="groupId">
                <option value="0" disabled>Selecione</option>
                <option *ngFor="let register of gruposService.items$ | async" value="{{register.id}}">{{register.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-4">
              <label class="form-label">Peso Inícial</label>
              <input type="number" class="form-control form-control-lg form-control-solid" name="startingWeight"
                placeholder="Peso Inícial" autocomplete="off" [class.is-invalid]="isControlInvalid('startingWeight')"
                [class.is-valid]="isControlValid('startingWeight')" formControlName="startingWeight"
                (change)="sumObjetivo()" />
            </div>

            <div class="col-lg-4">
              <label class="form-label">Meta</label>
              <input type="number" class="form-control form-control-lg form-control-solid" name="goal"
                placeholder="Meta" autocomplete="off" [class.is-invalid]="isControlInvalid('goal')"
                [class.is-valid]="isControlValid('goal')" formControlName="goal" (change)="sumObjetivo()" />
            </div>

            <div class="col-lg-4">
              <label class="form-label">Objetivo</label>
              <input type="number" class="form-control form-control-lg form-control-solid" name="objetivo"
                placeholder="Objetivo" autocomplete="off" formControlName="objetivo" value="{{sumObjetivo()}}"
                disabled />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Observação</label>
              <textarea type="text" class="form-control form-control-lg form-control-solid" name="notes"
                placeholder="Observação" autocomplete="off" [class.is-invalid]="isControlInvalid('notes')"
                [class.is-valid]="isControlValid('notes')" formControlName="notes"></textarea>
            </div>
          </div>
        </div>

      </form>    


    </ng-container>
  </div>

  <div class="modal-footer">

    <ng-container *ngIf="!!id">
      <button type="button" class="btn btn-danger btn-elevate mr-2" (click)="modal.dismiss()">
        Excluir
      </button>
    </ng-container>

    <ng-container *ngIf="register">
      <button type="submit" class="btn btn-success btn-elevate" (click)="save()" [disabled]="formContrato.invalid">
        Salvar
      </button>
    </ng-container>

    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
      Fechar
    </button>
  </div>
</div>