<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="register">
        <ng-container *ngIf="register.id">Editar</ng-container>
        <ng-container *ngIf="!register.id">Cadastrar</ng-container>
        contrato
        <ng-container *ngIf="register.id">'{{ register.id }}'</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <div class="row align-middle">
      <div class="col-lg-4">
        <label class="h5">Paciente:</label>
        <ng-container *ngIf="!id">
          <button class="ml-2 btn btn-outline-primary " (click)="searchPaciente()">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Search.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md ">
            </span>
            Procurar
          </button>
        </ng-container>
      </div>
    </div>



    <div class="row mb-6">
      <div class="col-lg-6 col-xl-4">
        <div class="form-text text-muted pt-2">
          <b>Nome: </b>Francieli Ferreira da Silva Gonzaga
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="form-text text-muted pt-2">
          <b>CPF: </b>119.088.059-86
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="form-text text-muted pt-2">
          <b>Data de Nascimento: </b>08/11/1999
        </div>
      </div>
    </div>



    <ng-container *ngIf="register">
      <form action="#" class="form form-label-right" [formGroup]="formContrato">
        <div class="form-group row">

          <div class="col-lg-6">
            <label>Data de início</label>
            <div class="input-group input-group-solid">
              <input type="text" 
              name="dt_inicio" 
              class="form-control form-control-lg form-control-solid"
                autocomplete="off" 
                placeholder="dd/mm/yyyy" 
                ngbDatepicker 
                #dt_inicio="ngbDatepicker"
                [class.is-invalid]="isControlInvalid('dt_inicio')" 
                [class.is-valid]="isControlValid('dt_inicio')"
                formControlName="dt_inicio" 
                readonly="true" 
                [minDate]="minDate" 
                [disabled]="!!id" />
              <div class="input-group-append" (click)="!!!id ? dt_inicio.toggle() : false" >
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <label>Data de conclusão</label>
            <div class="input-group input-group-solid">
              <input type="text" 
                name="dt_conclusao" 
                class="form-control form-control-lg form-control-solid"
                autocomplete="off" 
                placeholder="dd/mm/yyyy" 
                ngbDatepicker 
                #dt_conclusao="ngbDatepicker"
                [class.is-invalid]="isControlInvalid('dt_conclusao')" 
                [class.is-valid]="isControlValid('dt_conclusao')"
                formControlName="dt_conclusao" 
                readonly="true"
                [minDate]="minDateConclusao"/>
              <div class="input-group-append"  (click)="isDisabled() ? false : dt_conclusao.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-lg-4">
            <label>Programa</label>
            <select class="form-control form-control-lg form-control-solid" name="programa"
              [class.is-invalid]="isControlInvalid('programa')" formControlName="programa">
              <option value="1">Emagrece vc</option>
              <option value="2">Engorda vc</option>
            </select>
          </div>

          <div class="col-lg-4">
            <label>Grupo</label>
            <select class="form-control form-control-lg form-control-solid" name="grupo"
              [class.is-invalid]="isControlInvalid('grupo')" formControlName="grupo">
              <option value="1">Os novinhos</option>
              <option value="2">Os coroas</option>
            </select>
          </div>

          <div class="col-lg-4">
            <label>Plus ?</label>
            <select class="form-control form-control-lg form-control-solid" name="plus"
              [class.is-invalid]="isControlInvalid('plus')" formControlName="plus">
              <option value="0">Sim</option>
              <option value="1">Não</option>
            </select>
          </div>

        </div>


        <div class="form-group row">

          <div class="col-lg-4">
            <label class="form-label">Peso Inícial</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="peso_inicial"
              placeholder="Peso Inícial" autocomplete="off" [class.is-invalid]="isControlInvalid('peso_inicial')"
              [class.is-valid]="isControlValid('peso_inicial')" formControlName="peso_inicial"
              (change)="sumObjetivo()" />
          </div>


          <div class="col-lg-4">
            <label class="form-label">Meta</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="meta" placeholder="Meta"
              autocomplete="off" [class.is-invalid]="isControlInvalid('meta')" [class.is-valid]="isControlValid('meta')"
              formControlName="meta" (change)="sumObjetivo()" />
          </div>


          <div class="col-lg-4">
            <label class="form-label">Objetivo</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="objetivo"
              placeholder="Objetivo" autocomplete="off" formControlName="objetivo" value="{{valueObjetivo}}" disabled />
          </div>
        </div>


      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-elevate mr-2" (click)="modal.dismiss()">
      Deletar
    </button>

    <ng-container *ngIf="register">
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formContrato.invalid">
        Salvar
      </button>
    </ng-container>

    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
      Fechar
    </button>
  </div>
</div>