<table class="table" id="tablerelatorio">
    
    <thead class="bg-default">
        <tr>
            <th colspan="10">Relatório de Evolução Total</th>
        </tr>
        <tr>
            <th>Grupo</th>
            <th>Paciente</th>
            <th>Programa</th>
            <th>Status</th>
            <th>% Postagens</th>
            <th>% Balança</th>
            <th>Evolução Total(kg)</th>
            <th>Objetivo (kg)</th>
            <th>% Objetivo</th>
            <th>Observações</th>
        </tr>
    </thead>
    <tbody>
          <tr *ngFor="let report of service$ | async">
            <td>{{ report.groupName }}</td>
            <td>{{ report.patientName }}</td>
            <td>{{ report.programName }}</td>
            <td>{{ report.status }}</td>
            <td>{{ report.postingPercentage }}</td>
            <td>{{ report.balancePercentage }}</td>
            <td>{{ report.evolutionPeriod }}</td>
            <td>{{ report.goal }}</td>
            <td>{{ report.goalPercentage }}</td>
            <td>{{ report.notesTotal }}</td>
          </tr>   
    </tbody>
</table>