<table class="table" id="tablerelatorio">    
    <thead class="bg-default">
        <tr>
            <th class="menu-text" colspan="18">Relatório de Contratos Concluídos
                <br>
                {{ groupNameSelected }}
            </th>
        </tr>
        <tr>
            <th class="menu-text text-left">Paciente</th>
            <th class="menu-text text-left">Programa</th>
            <th class="menu-text">Início</th>
            <th class="menu-text">Conclusão</th>
            <th class="menu-text">C</th>
            <th class="menu-text">LM</th>
            <th class="menu-text">A</th>
            <th class="menu-text">LT</th>
            <th class="menu-text">J</th>
            <th class="menu-text">AF</th>
            <th class="menu-text">M</th>
            <th class="menu-text">% Postagens</th>
            <th class="menu-text">Balança</th>
            <th class="menu-text">% Balança</th>
            <th class="menu-text">Evolução</th>
            <th class="menu-text">Objetivo</th>
            <th class="menu-text">Observações</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="service$ | async as _data">
        <tr *ngFor="let report of _data">
            <td class="text-left">{{ report.patientName  }}</td>
            <td class="text-left">{{ report.programName  }}</td>
            <td>{{ report.startDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ report.dateConclusion | date:'dd/MM/yyyy' }}</td>
            <td>{{ report.breakfastTotal  }}</td>
            <td>{{ report.morningSnackTotal  }}</td>
            <td>{{ report.lunchTotal  }}</td>
            <td>{{ report.afternoonSnackTotal  }}</td>
            <td>{{ report.dinnerTotal  }}</td>
            <td>{{ report.hiitTotal  }}</td>
            <td>{{ report.mentorshipTotal  }}</td>
            <td>{{ report.postingPercentage | maskPercentage }}</td>
            <td>{{ report.balanceTotal  }}</td>
            <td>{{ report.balancePercentage | maskPercentage }}</td>
            <td>{{ report.evolutionPeriod | maskWeight }}</td>
            <td>{{ report.goal | maskWeight }}</td>
            <td>{{ report.notesTotal  }}</td>
        </tr> 
        </ng-container>
        <tr *ngIf="isEmpty" class="text-center">
            <td colspan="18">Não existem dados a serem exibidos</td>
        </tr>
    </tbody>
    <tfoot>
    <ng-container *ngIf="service$ | async">
        <ng-container *ngIf="!isEmpty">
        <tr>
            <td colspan="5" class="nav-link pl-3 pr-0 text-left"><a href="https://scsoftware.com.br" target="_blank">eSTech - SC Software</a></td>
            <td colspan="18" class="text-right">Impresso por: {{ getUsername() }} em {{ getDateAndTime() }}</td>
        </tr>
        </ng-container>
    </ng-container>
    </tfoot>
</table>