<div class="row mb-6">
    <div class="col-lg-6 col-xl-4">
        <div class="form-text pt-2">
            <b>Grupos: </b> {{ form?.grupoId || "Todos" }}
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="form-text pt-2">
            <b>Situação: </b> {{ form?.status || "Todos" }}
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="form-text pt-2">
            <b>Semana: </b> {{ form?.initialDate || "Todas" }}
        </div>
    </div>
</div>

<table class="table" id="tablerelatorio">
    
    <thead class="bg-default">
        <tr>
            <th colspan="17">Relatório de Concluído</th>
        </tr>
        <tr>
            <th>Grupo</th>
            <th>Paciente</th>
            <th>Programa</th>
            <th>Data Inicío</th>
            <th>Conclusão</th>
            <th>C</th>
            <th>LM</th>
            <th>A</th>
            <th>LT</th>
            <th>J</th>
            <th>H</th>
            <th>% Postagens</th>
            <th>Balança</th>
            <th>% Balança</th>
            <th>Evolução (kg)</th>
            <th>Objetivo (kg)</th>
            <th>Observações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let report of service$ | async">
            <td>{{ report.groupName  }}</td>
            <td>{{ report.patientName  }}</td>
            <td>{{ report.programName  }}</td>
            <td>{{ report.status  }}</td>
            <td>{{ report.startDate  }}</td>
            <td>{{ report.dateConclusion  }}</td>
            <td>{{ report.breakfastTotal  }}</td>
            <td>{{ report.morningSnackTotal  }}</td>
            <td>{{ report.lunchTotal  }}</td>
            <td>{{ report.afternoonSnackTotal  }}</td>
            <td>{{ report.dinnerTotal  }}</td>
            <td>{{ report.hiitTotal  }}</td>
            <td>{{ report.postingPercentage  }}</td>
            <td>{{ report.balanceTotal  }}</td>
            <td>{{ report.balancePercentage  }}</td>
            <td>{{ report.evolutionPeriod  }}</td>
            <td>{{ report.goal  }}</td>
            <td>{{ report.notesTotal  }}</td>
        </tr> 
    </tbody>
</table>