<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 pt-5">
    <div class="input-filter-group w-100">
      <select class="form-control cursor-pointer w-100" 
        name="grupoId" 
        formControlName="grupoId" 
        placeholder="Selecione"  
        (change)="generateGrid($event.target.value)">
        <option *ngFor="let register of listGroups$ | async" value="{{register.id}}">{{register.name}}</option>
      </select>
    </div>
  </div>

  <div class="card-body d-flex">

    <div class="pt-0 pb-3 w-100">
      <div class="tab-content">
        <!--begin::Table-->
        <div style="display: block;overflow-x: hidden;">
          <table class="table table-head-custom table-vertical-center table-head-bg table-borderless"
            style="display: inline-grid; grid-template-areas: 'head-fixed' 'body-scrollable'; overflow: auto;">
            <thead style="grid-area: head-fixed;">
              <tr class="text-left" style="display: grid; grid-template-columns: auto 100px 100px 100px;">
                <th>
                  <span class="text-dark-75">Paciente</span>
                </th>
                <th>Programa</th>
              </tr>
            </thead>
            <tbody style="grid-area: body-scrollable; max-height: 50vh;  overflow-y: auto; overflow-x: hidden;">
              
              <ng-container *ngIf="listDailyPostingPending$ | async as _data">
                <tr style="display: grid; grid-template-columns: auto 100px 100px 100px;" *ngFor="let data of _data">
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                          {{ data.patientName }}
                        </a>
                        <span class="text-muted font-weight-bold d-block">{{ data?.patientPhone }}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                      {{ data?.programName }}
                    </span>
                  </td>                
                </tr>
                <div *ngIf="_data.length == 0" class="d-flex justify-content-center pt-3">Nenhum valor encontrado</div>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!--end::Table-->
      </div>
    </div>
  </div>
</div>