<div class="pt-0 pb-3">
    <div class="tab-content">
      <!--begin::Table-->
      <div style="display: block;overflow-x: hidden;">
        <table
          class="table table-head-custom table-vertical-center table-head-bg table-borderless"
          style="display: inline-grid; grid-template-areas: 'head-fixed' 'body-scrollable'; overflow: auto;">
          <thead style="grid-area: head-fixed;">
            <tr class="text-left" style="display: grid; grid-template-columns: auto 100px 100px 100px;">
              <th>
                <span class="text-dark-75">Paciente</span>
              </th>
              <th>Grupo</th>
              <th>Contrato</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody style="grid-area: body-scrollable; height: 50vh;  overflow-y: auto; overflow-x: hidden;">  
            <tr style="display: grid; grid-template-columns: auto 100px 100px 100px;">
              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Brad Simmons</a>
                    <span class="text-muted font-weight-bold d-block">+55 (41) 9 8456-8688</span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                  Grupo 1
                </span>
              </td>
              <td>
                <span class="text-dark-75 font-weight-bolder d-block font-size-lg" >
                  1
                </span>
              </td>
              <td data-field="Status" aria-label="5" class="datatable-cell">
                <span style="width: 137px;">
                  <span class="label label-lg font-weight-bold label-light-success label-inline d-none">
                    Lançado
                  </span>
                  
                  <span class="label label-lg font-weight-bold label-light-danger label-inline">
                    Pendente
                  </span>
                  
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--end::Table-->
    </div>
  </div>

