
<div class="row mb-6">
    <div class="col-lg-6 col-xl-4">
        <div class="form-text pt-2">
            <b>Grupos: </b> {{ !!relatorio.grupo ? relatorio.grupo : "Todos" }}
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="form-text pt-2">
            <b>Status: </b> {{ !!relatorio.grupo ? relatorio.status : "Todos" }}
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="form-text pt-2">
            <b>Semana: </b> {{ !!relatorio.grupo ? relatorio.semana : "Todas" }}
        </div>
    </div>
</div>



<table class="table" id="tablerelatorio">
    
    <thead class="bg-warning">
        <tr>
            <th [attr.colspan]="'15'"  >Relatório Semanal</th>
        </tr>
        <tr>
            <th>Grupo</th>
            <th>Nome</th>
            <th>Programa</th>
            <th>C</th>
            <th>LM</th>
            <th>A</th>
            <th>LT</th>
            <th>J</th>
            <th>H</th>
            <th>% Postagens</th>
            <th>Balança</th>
            <th>% Balança</th>
            <th>Evolução Período(kg)</th>
            <th>Objetivo (kg)</th>
            <th>Observações</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let dt of data">
            <tr *ngFor="let paciente of dt.pacientes; let i = index" [attr.data-index]="i">
                <td *ngIf="i == 0" [attr.rowspan]="dt.pacientes.length">{{dt.grupo}}</td>
                <td>{{paciente.nome}}</td>
                <td>{{paciente.programa}}</td>
                <td>{{paciente.c}}</td>
                <td>{{paciente.lm}}</td>
                <td>{{paciente.a}}</td>
                <td>{{paciente.lt}}</td>
                <td>{{paciente.j}}</td>
                <td>{{paciente.h}}</td>
                <td>{{paciente.postagens}}</td>
                <td>{{paciente.balanca}}</td>
                <td>{{paciente.p_balanca}}</td>
                <td>{{paciente.evolucao}}</td>
                <td>{{paciente.objetivo}}</td>
                <td>{{paciente.observacao}}</td>
            </tr>
            <tr style="background-color: #ebedf3;">
                <td >Total</td>
                <td></td>
                <td></td>
                <td>{{dt.total.c}}</td>
                <td>{{dt.total.lm}}</td>
                <td>{{dt.total.a}}</td>
                <td>{{dt.total.lt}}</td>
                <td>{{dt.total.j}}</td>
                <td>{{dt.total.h}}</td>
                <td>{{dt.total.postagens}}</td>
                <td>{{dt.total.balanca}}</td>
                <td>{{dt.total.p_balanca}}</td>
                <td>{{dt.total.evolucao}}</td>
                <td>{{dt.total.objetivo}}</td>
                <td>{{dt.total.observacao}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>