<section  [@fadeInOut]>
        
    <table class="table" id="tablerelatorio">
        
        <thead class="bg-default">
            <tr>
                <th class="menu-text" colspan="14">Relatório Periódico
                    <br>
                    {{ this.form.initialDate | date:'dd/MM/yyyy' }} - {{ this.form.finalDate | date:'dd/MM/yyyy' }} {{ groupNameSelected }}
                </th>
            </tr>
            <tr>
                <!-- <th class="menu-text text-left">Grupo</th> -->
                <th class="menu-text text-left">Paciente</th>
                <th class="menu-text text-left">Programa</th>
                <th class="menu-text">C</th>
                <th class="menu-text">LM</th>
                <th class="menu-text">A</th>
                <th class="menu-text">LT</th>
                <th class="menu-text">J</th>
                <th class="menu-text">AF</th>
                <th class="menu-text">M</th>
                <th class="menu-text">% Postagens</th>
                <th class="menu-text">Balança</th>
                <th class="menu-text">% Balança</th>
                <th class="menu-text">Evolução</th>
                <th class="menu-text">Objetivo</th>
                <th class="menu-text">Observações</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="service$ | async as _data">
                <tr *ngFor="let report of _data">
                    <!-- <td class="text-left">{{ report?.groupName || '*' }}</td> -->
                    <td class="text-left">{{ report?.patientName || '*' }}</td>
                    <td class="text-left">{{ report?.programName || '*' }}</td>
                    <td>{{ report?.breakfastTotal || '0' }}</td>
                    <td>{{ report?.morningSnackTotal || '0' }}</td>
                    <td>{{ report?.lunchTotal || '0' }}</td>
                    <td>{{ report?.afternoonSnackTotal || '0' }}</td>
                    <td>{{ report?.dinnerTotal || '0' }}</td>
                    <td>{{ report?.hiitTotal || '0' }}</td>
                    <td>{{ report?.mentorshipTotal || '0' }}</td>
                    <td>{{ report?.postingPercentage | maskPercentage }}</td>
                    <td>{{ report?.balanceTotal }}</td>
                    <td>{{ report?.balancePercentage | maskPercentage }}</td>
                    <td>{{ report?.evolutionPeriod | maskWeight }}</td>
                    <td>{{ report?.goal | maskWeight }}</td>
                    <td>{{ report?.notesTotal || '0' }}</td>
                </tr>
            </ng-container>
            <!-- <tr *ngIf="isLoading" class="text-center">
                <td colspan="14">Carregando resultado do relatório...</td>
            </tr> -->
            <tr *ngIf="isEmpty" class="text-center">
                <td colspan="14">Não existem dados a serem exibidos</td>
            </tr>
        </tbody>
        <tfoot>
            <ng-container *ngIf="service$ | async">
              <ng-container *ngIf="!isEmpty">
                <tr>
                  <td colspan="5" class="nav-link pl-3 pr-0 text-left"><a href="https://site.scsoftware.link" target="_blank">eSTech - SC Software</a></td>
                  <td colspan="14" class="text-right">Impresso por: {{ getUsername() }} em {{ getDateAndTime() }}</td>
                </tr>
              </ng-container>
            </ng-container>
            </tfoot>
    </table>
</section>

