<div class="mt-5">

  <!-- begin: Filtration form -->
  <div class="form form-label-right">
    <div class="form-group row">
      <div class="col-lg-12">
        <div class="row" [formGroup]="filterGroup">
          <div class="col-lg-4">
            <small class="form-text text-muted">Situação</small>
            <select class="form-control" name="status" placeholder="Filtro por status" formControlName="status">              
              <option value="">Todos</option>
              <option value="ACTIVE" >Ativo</option>
              <option value="OVERDUE">Vencido</option>
              <option value="OVERDUE_LESS_7">Vencendo em até 7 dias</option>
              <option value="OVERDUE_LESS_15">Vencendo em até 15 dias</option>
              <option value="OVERDUE_LESS_30">Vencendo em até 30 dias</option>
              <option value="COMPLETED">Concluído</option>
              <option value="CANCELED">Cancelado</option>

            </select>
          </div>
          <div class="col-lg-4">
            <small class="form-text text-muted">Programa</small>
            <select class="form-control" placeholder="Filtro por Programa" name="programId" formControlName="programId">
              <option value="">Todos</option>              
              <option *ngFor="let register of listProgramas$ | async" value="{{register.id}}">{{register.name}}</option>
            </select>
          </div>

          <div class="col-lg-4">
            <small class="form-text text-muted">Paciente</small>
            <input type="text" 
                class="form-control" 
                placeholder="Pesquisar" 
                [ngbTypeahead]="search"                     
                [resultFormatter]="resultFormatBandListValue"
                [inputFormatter]="inputFormatBandListValue"
                formControlName="patientId"
              />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Filtration form -->

  <!-- begin:Table -->
  <div class="table-responsive angular-bootstrap-table">
    <table class="table table-head-custom table-vertical-center overflow-hidden" id="patientList">
      <thead>
        <th>
          PACIENTE
          <app-sort-icon column="patient" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          SITUAÇÃO
          <app-sort-icon column="status" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          PROGRAMA
          <app-sort-icon column="program" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          GRUPO
          <app-sort-icon column="group" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          INÍCIO
          <app-sort-icon column="startDate" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          CONCLUSÃO
          <app-sort-icon column="hiringDate" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          PESO INICIAL
          <app-sort-icon column="startingWeight" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          META
          <app-sort-icon column="goal" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          OBJETIVO
          <app-sort-icon column="objetivo" [activeColumn]="sorting.column"></app-sort-icon>
        </th>

      </thead>
      <tbody>
        <tr *ngFor="let register of service.items$ | async">
          <td>{{ register?.patient?.name || '*' }}</td>
          <td>
            <span class="label label-lg label-inline w-100" [class.label-light-danger]="statusInAlert(register.status)"
              [class.label-light-success]="register.status === 'ACTIVE'" [class.label-light-info]="register.status === 'COMPLETED'">
              <ng-container *ngIf="register.status === 'ACTIVE'">Ativo</ng-container>
              <ng-container *ngIf="register.status === 'COMPLETED'">Concluído</ng-container>
              <ng-container *ngIf="register.status === 'CANCELED'">Cancelado</ng-container>
              <ng-container *ngIf="register.status === 'OVERDUE'">Vencido</ng-container>
              <ng-container *ngIf="register.status === 'OVERDUE_LESS_7'">Venc. 7d</ng-container>
              <ng-container *ngIf="register.status === 'OVERDUE_LESS_15'">Venc. 15d</ng-container>
              <ng-container *ngIf="register.status === 'OVERDUE_LESS_30'">Venc. 30d</ng-container>
            </span>
          </td>
          <td>{{ register.program.name }}</td>
          <td>{{ register.group.name }}</td>
          <td>{{ register.startDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ register.hiringDate | date:'dd/MM/yyyy' }}</td>          
          <td>{{ register.startingWeight | maskWeight }}</td>
          <td>{{ register.goal | maskWeight }}</td>
          <td>{{ (register.goal - register.startingWeight) | maskWeight }}</td>
          <td style="display: flex;">
            <a title="Ficha final do Programa" class="btn btn-icon btn-light btn-hover-success btn-sm"
              (click)="getProgramMonitoring(register)">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Clipboard.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-success">
              </span>
            </a>
            <ng-container *ngIf="isOpened(register.status)">     
              <a title="Alterar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editRegister(register.id, register)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Cancelar" class="btn btn-icon btn-light btn-hover-danger btn-sm mx-3"
                (click)="cancelContrato(register)">
                <span [inlineSVG]="'./assets/media/svg/icons/Files/Deleted-file.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>

              <a title="Encerrar" class="btn btn-icon btn-light btn-hover-info btn-sm mx-3"
                (click)="concluedContrato(register)">
                <span [inlineSVG]="'./assets/media/svg/icons/Code/Lock-circle.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-info ">
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="!isOpened(register.status)">
              <a title="Visualizar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editRegister(register.id, register)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Visible.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </ng-container>

            <ng-container *ngIf="!isOpened(register.status)">
              <a title="Reativar" class="btn btn-icon btn-light btn-hover-success btn-sm"
                (click)="reactivateContrato(register)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Unlock.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end: Table -->
  <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
    [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>

</div>