<div class="mt-5">

  <!-- begin: Filtration form -->
  <div class="form form-label-right">
    <div class="form-group row">
      <div class="col-lg-12">
        <div class="row" [formGroup]="filterGroup">
          <div class="col-lg-4">
            <small class="form-text text-muted">Situação</small>
            <select class="form-control" name="status" placeholder="Filtro por status" formControlName="status">              
              <option  value="">Todos</option>
              <option value="ACTIVE">Ativo</option>
              <option value="COMPLETED">Concluído</option>
              <option value="CANCELED">Cancelado</option>
            </select>
          </div>
          <div class="col-lg-4">
            <small class="form-text text-muted">Programa</small>
            <select class="form-control" placeholder="Filtro por Programa" name="programId" formControlName="programId">
              <option value="">Todos</option>              
              <option *ngFor="let register of this.listProgramas$ | async" value="{{register.id}}">{{register.name}}</option>
            </select>
          </div>

          <div class="col-lg-4">
            <small class="form-text text-muted">Paciente</small>
            <input type="text" 
                class="form-control" 
                placeholder="Pesquisar" 
                [ngbTypeahead]="search"                     
                [resultFormatter]="resultFormatBandListValue"
                [inputFormatter]="inputFormatBandListValue"
                formControlName="patientId"
              />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Filtration form -->

  <!-- begin: Grouping -->
  <!-- <ng-container *ngIf="grouping.getSelectedRowsCount()">
    <div class="form">
      <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
        <div class="col-xl-12">
          <div class="form-group form-group-inline">
            <div class="form-label form-label-no-wrap">
              <label class="font-bold font-danger"><span>Total de registros selecionados:
                  <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container> -->
  <!-- end: Grouping -->

  <!-- begin:Table -->
  <div class="table-responsive angular-bootstrap-table">
    <table class="table table-head-custom table-vertical-center overflow-hidden">
      <thead>
        <!-- <th class="selection-cell-header" data-row-selection="true">
          <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
              [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
        </th> -->
        <th>
          PACIENTE
          <app-sort-icon column="patient" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          SITUAÇÃO
          <app-sort-icon column="status" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          PROGRAMA
          <app-sort-icon column="program" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          GRUPO
          <app-sort-icon column="group" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          INÍCIO
          <app-sort-icon column="startDate" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          CONCLUSÃO
          <app-sort-icon column="hiringDate" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          PESO INICIAL
          <app-sort-icon column="startingWeight" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          META
          <app-sort-icon column="goal" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <th>
          OBJETIVO
          <app-sort-icon column="objetivo" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
            (sort)="sort($event)"></app-sort-icon>
        </th>
        <!-- <th>
          PLUS
          <app-sort-icon column="dt_contratacao_plus" [activeColumn]="sorting.column"
            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
        </th> -->

      </thead>
      <tbody>
        <tr *ngFor="let register of service.items$ | async">
          <!-- <td class="selection-cell">
            <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectRow(register.id)"
                [checked]="grouping.isRowSelected(register.id)" />
              <span></span>
            </label>
          </td> -->
          <td>{{ register?.patient?.name || '*' }}</td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.status === 'CANCELED'"
              [class.label-light-success]="register.status === 'ACTIVE'" [class.label-light-primary]="register.status === 'COMPLETED'">
              <ng-container *ngIf="register.status === 'ACTIVE'">Ativo</ng-container>
              <ng-container *ngIf="register.status === 'COMPLETED'">Concluído</ng-container>
              <ng-container *ngIf="register.status === 'CANCELED'">Cancelado</ng-container>
            </span>
          </td>
          <td>{{ register.program.name }}</td>
          <td>{{ register.group.name }}</td>
          <td>{{ register.startDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ register.hiringDate | date:'dd/MM/yyyy' }}</td>          
          <td>{{ register.startingWeight | maskWeight }}</td>
          <td>{{ register.goal | maskWeight }}</td>
          <td>{{ (register.goal - register.startingWeight) | maskWeight }}</td>
          <!-- <td>{{ register.dateConclusion }}</td> -->
          <td style="display: flex;">
            <ng-container *ngIf="register.status === 'ACTIVE'">                
              <a title="Editar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editRegister(register.id, register)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </ng-container>
            
            <ng-container *ngIf="register.status != 'ACTIVE'">                
              <a title="Exibir" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editRegister(register.id, register)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Visible.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </ng-container>

            <ng-container *ngIf="register.status === 'ACTIVE'">
              <a title="Cancelar contrato" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="cancelContrato(register)">
                <span [inlineSVG]="'./assets/media/svg/icons/Files/Deleted-file.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="register.status === 'CANCELED'">
              <a title="Reativar contrato" class="btn btn-icon btn-light btn-hover-success btn-sm"
                (click)="reactivateContrato(register)">
                <span [inlineSVG]="'./assets/media/svg/icons/Files/File-done.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-success">
                </span>
              </a>
            </ng-container>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end: Table -->
  <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
    [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>

</div>