<!--begin::Error-->
<div
  class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30"
  style="background-image: url('./assets/media/error/bg4.jpg'); height: 100%;"
>
  <!--begin::Content-->
  <div style="position: absolute; top: 40%; transform: translateY(-50%);">
    <h1 class="font-weight-boldest text-dark-75 mt-15" style="font-size: 10rem;">
      404
    </h1>
    <p class="font-size-h3 text-muted font-weight-normal">
      OOPS, Algo deu errado aqui.
    </p>
    <a routerLink="/" type="button" id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3" style="width: 100%;">Voltar</a>
  </div>
  
  <!--end::Content-->
</div>
<!--end::Error-->
