input:read-only {
    border: none;
    cursor: default;
}

th.sortable {    
    text-align: center;
    vertical-align: super;
}

.cursor-pointer {
    cursor: pointer !important;
}

input[name="dateFilter"]:read-only {
    border: 1px solid #E4E6EF;
    border-radius: .42rem;
}

.input-grid {
    max-width: 70px;
}