<div class="mt-5">

  <!-- begin: Filtration form -->
  <div class="form form-label-right" *ngIf="!paciente">
    <div class="form-group row">
      <div class="col-lg-12">
        <div class="row" [formGroup]="filterGroup">
          <div class="col-lg-6">
            <label>Data do lançamento</label>
            <date-input [InputMaxDate]="maxDate" [InputFormControlName]="'dateFilter'"></date-input>
          </div>

          <div class="col-lg-6">
            <label for="typeahead-focus">Grupo</label>
            <select class="form-control cursor-pointer" placeholder="Grupo" name="grupoId" formControlName="grupoId">
              <option *ngFor="let register of gruposService.items$ | async" value="{{register.id}}">{{register.name}}
              </option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end: Filtration form -->

   <!-- begin:Table -->
  <div class="table-responsive angular-bootstrap-table">
    <table class="table table-head-custom table-vertical-center overflow-hidden text-center">
      <thead>
        <th *ngIf="!paciente" class="text-left">PACIENTE</th>
        <th *ngIf="!!paciente">DATA</th>
        <th>C</th>
        <th>LM</th>
        <th>A</th>
        <th>LT</th>
        <th>J</th>
        <th>H</th>
        <th>Peso anterior</th>
        <th>Peso atual</th>
        <th>Evolução</th>
        <th>Evolução acumulada</th>
      </thead>
      <tbody>
        <tr *ngFor="let register of listLancamentos$ | async">
          <td class="display-inline-block text-left" *ngIf="!paciente">
            <span>{{ register.patientId  + ' - ' + register.patientName }}</span>             
          </td>          
          <td *ngIf="!!paciente">{{ register.date | date:'dd/MM/yyyy' }}</td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.breakfast === false"
              [class.label-light-success]="register.breakfast === true"
              [class.cursor-pointer]="register.editable === true"
              (click)="register.editable ? changeValueRegister(register,'breakfast') : false">
              <ng-container *ngIf="register.breakfast === false">X</ng-container>
              <ng-container *ngIf="register.breakfast === true">✔</ng-container>
            </span>
          </td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.morningSnack === false"
              [class.label-light-success]="register.morningSnack === true"
              [class.cursor-pointer]="register.editable === true"
              (click)="register.editable ? changeValueRegister(register,'morningSnack') : false">
              <ng-container *ngIf="register.morningSnack === false">X</ng-container>
              <ng-container *ngIf="register.morningSnack === true">✔</ng-container>
            </span>
          </td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.lunch === false"
              [class.label-light-success]="register.lunch === true" [class.cursor-pointer]="register.editable === true"
              (click)="register.editable ? changeValueRegister(register,'lunch') : false">
              <ng-container *ngIf="register.lunch === false">X</ng-container>
              <ng-container *ngIf="register.lunch === true">✔</ng-container>
            </span>
          </td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.afternoonSnack === false"
              [class.label-light-success]="register.afternoonSnack === true"
              [class.cursor-pointer]="register.editable === true"
              (click)="register.editable ? changeValueRegister(register,'afternoonSnack') : false">
              <ng-container *ngIf="register.afternoonSnack === false">X</ng-container>
              <ng-container *ngIf="register.afternoonSnack === true">✔</ng-container>
            </span>
          </td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.dinner === false"
              [class.label-light-success]="register.dinner === true" [class.cursor-pointer]="register.editable === true"
              (click)="register.editable ? changeValueRegister(register,'dinner') : false">
              <ng-container *ngIf="register.dinner === false">X</ng-container>
              <ng-container *ngIf="register.dinner === true">✔</ng-container>
            </span>
          </td>
          <td>
            <span class="label label-lg label-inline" [class.label-light-danger]="register.hiit === false"
              [class.label-light-success]="register.hiit === true" [class.cursor-pointer]="register.editable === true"
              (click)="register.editable ? changeValueRegister(register,'hiit') : false">
              <ng-container *ngIf="register.hiit === false">X</ng-container>
              <ng-container *ngIf="register.hiit === true">✔</ng-container>
            </span>
          </td>
          <td>
            <ng-container *ngIf="!register.editable">{{showWeight(register.balance.previousWeight)}}</ng-container>
            <ng-container *ngIf="register.editable">
              <input 
                type="number"
                max="600"
                step=",001"
                class="input-grid" 
                [(ngModel)]="register.balance.previousWeight"
                [value]="register.balance.previousWeight" 
                (blur)="changeWeight($event)"/>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!register.editable">{{showWeight(register.balance.currentWeight)}}</ng-container>
            <ng-container *ngIf="register.editable">
              <input 
                type="number"
                max="600"
                step=",001"
                class="input-grid" 
                [(ngModel)]="register.balance.currentWeight"                
                [value]="register.balance.currentWeight"                 
                (blur)="changeWeight($event)"/>
            </ng-container>
          </td>
          <td>{{ showWeight((register?.balance?.currentWeight || register?.balance?.previousWeight || 0) - (register?.balance?.previousWeight || 0)) }}</td>
          <td>{{ showWeight(register.balance.accumulatedEvolution - ((register?.balance?.previousWeight || 0) - (register?.balance?.currentWeight || register?.balance?.previousWeight || 0))) }}</td>
          <td style="display: flex;">

            <a *ngIf="!register.editable" title="Editar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              (click)="startEdit(register)">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>

            <a *ngIf="register.editable" title="Salvar" class="btn btn-icon btn-light btn-hover-success btn-sm mx-3"
              (click)="confirmEditCreate(register)">
              <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Check.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-success">
              </span>
            </a>

            <a *ngIf="register.editable" title="Cancelar" class="btn btn-icon btn-light btn-hover-danger btn-sm mx-3"
              (click)="cancelEditCreate(register, $event)">
              <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Close.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

</div>