<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4"id="example-modal-sizes-title-lg">
      <ng-container *ngIf="register">
        <ng-container *ngIf="register.id">Editar</ng-container>
        <ng-container *ngIf="!register.id">Cadastrar</ng-container>
        paciente
        <ng-container *ngIf="register.id"
          >'{{ register.nome }}'</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="register">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Nome</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="nome"
              placeholder="Nome"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('nome')"
              [class.is-valid]="isControlValid('nome')"
              formControlName="nome"
            />            
          </div>
          <div class="col-lg-4">
            <label>Sexo</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="sexo"
              [class.is-invalid]="isControlInvalid('sexo')"
              formControlName="sexo"
            >
              <option value="Feminino">Feminino</option>
              <option value="Masculino">Masculino</option>
            </select>
          </div>
          <div class="col-lg-4">
            <label>Data de nascimento</label>
            <div class="input-group input-group-solid">
              <input
                type="text"
                name="dt_nascimento"
                class="form-control form-control-lg form-control-solid"
                autocomplete="off"
                placeholder="dd/mm/yyyy"
                ngbDatepicker
                #d="ngbDatepicker"
                [class.is-invalid]="isControlInvalid('dt_nascimento')"
                [class.is-valid]="isControlValid('dt_nascimento')"
                formControlName="dt_nascimento"
                readonly="true"
              />
              <div class="input-group-append" (click)="d.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">E-mail</label>
            <input
              type="email"
              class="form-control form-control-lg form-control-solid"
              name="email"
              placeholder="E-mail"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
              formControlName="email"
            />
          </div>
       
          <div class="col-lg-4">
            <label class="form-label">Celular</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="celular"
              placeholder="Celular"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('celular')"
              [class.is-valid]="isControlValid('celular')"
              formControlName="celular"
            />
          </div>
        </div>
 
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <ng-container *ngIf="register">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Save
      </button>
    </ng-container>
  </div>
</div>
