<div class="login-form login-forgot">
  <!--begin::Form-->
  <form
    class="form fv-plugins-bootstrap fv-plugins-framework"
    novalidate="novalidate"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="submit()"
    id="kt_login_reset_form"
    [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }"
  >
    <!--begin::Title-->
    <div class="pb-6 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Redifinir senha
      </h3>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5">Nova senha</label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        placeholder="Nova senha"
        name="password"
        formControlName="password"
        autocomplete="off"        
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Nova senha é um campo obrigatório',
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Nova senha  deve ter no mínimo 3 caracteres',
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Nova senha deve ter no máximo 100 caracteres',
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5">Confirmar nova senha</label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        type="password"
        placeholder="Confirmar nova senha"
        name="cPassword"
        autocomplete="off"
        formControlName="cPassword"        
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Confirmar nova senha é um campo obrigatório',
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Confirmar nova senha deve ter no mínimo 3 caracteres',
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Confirmar nova senha deve ter no máximo 100 caracteres',
          control: resetPasswordForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        *ngIf="
          resetPasswordForm.controls['cPassword'].errors &&
          resetPasswordForm.controls['cPassword'].errors.ConfirmPassword
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            'Nova senha' e 'Confirmar nova senha' não correspondem.
          </div>
        </div>
      </ng-container>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button
        [disabled]="resetPasswordForm.controls['cPassword'].invalid"
        type="submit"
        id="kt_login_reset_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        Redefinir
      </button>
      <a
        routerLink="/auth/login"
        id="kt_login_reset_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        Voltar
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
