<!-- begin::Header Nav -->
<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <!-- begin::1 Level -->
  <!-- removido temporariamente o dashboard
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
      <span class="menu-text" translate="MENU.DASHBOARD"></span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  -->
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/lancamentos" routerLinkActive="active">
      <span class="menu-text">Lançamentos</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/relatorios" routerLinkActive="active">
      <span class="menu-text">Relatórios</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-submenu menu-item-rel" routerLinkActive="menu-item-active"
    [attr.data-menu-toggle]="headerMenuDesktopToggle" aria-haspopup="true">
    <a class="menu-link menu-toggle" routerLinkActive="active">
      <span class="menu-text">Contratos</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
      <ul class="menu-subnav">
        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/contratos;new_register=sim" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Files/File-plus.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Novo Contrato</span>
          </a>
        </li>
        <!-- end::2 Level -->

        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/contratos" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Files/File.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Lista de Contratos</span>
          </a>
        </li>
        <!-- end::2 Level -->
      </ul>
    </div>
  </li>
  <!-- end::1 Level -->
   
  <!-- begin::1 Level -->
  <li class="menu-item menu-item-submenu menu-item-rel" routerLinkActive="menu-item-active"
    [attr.data-menu-toggle]="headerMenuDesktopToggle" aria-haspopup="true">
    <a class="menu-link menu-toggle" routerLinkActive="active">
      <span class="menu-text">Pacientes</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
      <ul class="menu-subnav">
        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/pacientes/add" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Add-user.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Novo</span>
          </a>
        </li>
        <!-- end::2 Level -->

        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/pacientes" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Text/Bullet-list.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Manutenção de Pacientes</span>
          </a>
        </li>
        <!-- end::2 Level -->
      </ul>
    </div>
  </li>
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-submenu menu-item-rel" routerLinkActive="menu-item-active"
    [attr.data-menu-toggle]="headerMenuDesktopToggle" aria-haspopup="true">
    <a class="menu-link menu-toggle" routerLinkActive="active">
      <span class="menu-text">Cadastros</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
      <ul class="menu-subnav">
        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/programas" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Dial-numbers.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Programas</span>
          </a>
        </li>
        <!-- end::2 Level -->

        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/grupos" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Grupos</span>
          </a>
        </li>
        <!-- end::2 Level -->

        <!-- begin::2 Level -->
        <li class="menu-item" routerLinkActive="menu-item-active">
          <a class="menu-link" routerLink="/razoes-cancelamento" routerLinkActive="active">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Flag.svg'" cacheSVG="true"
              class="svg-icon menu-icon"></span>
            <span class="menu-text">Motivos de cancelamento</span>
          </a>
        </li>
        <!-- end::2 Level -->
      </ul>
    </div>
  </li>
  <!-- end::1 Level -->

</ul>
<!-- end::Header Nav -->