.content-charts {
    flex-direction: row;
}

.container-chart {    
    justify-content: center;
    min-width: 50%;
}

.container-chart app-dailies-chart {
    min-width: 100%;
}

.container-chart app-dailies-chart-group {
    min-width: 100%;
}

@media (max-width: 769px) {

    .content-charts {
        flex-direction: column;
    }

    .container-chart{
        min-width: 100%;
    }
 
    .linha-vertical{
        margin-bottom: 19px;
    }
}

.legend-chart-color {    
    height: 12px;
    width: 12px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 3px;
    border-style: solid;
}

.legend-chart-text {
    color: rgb(55, 61, 63); 
    font-size: 12px; 
    font-weight: 400; 
    font-family: Helvetica, Arial, sans-serif;
}

.legend-chart{
    display: flex;
}

.legend-chart-item{
    display: flex;
    margin: 2px 5px;    
    align-items: center;
}