<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title font-weight-bolder">Lançamentos Diários</h3>

    <div class="legend-chart">
      <div class="legend-chart-item">
        <span class="legend-chart-color" 
          style=" background: #6993ff !important; color: #6993ff;"
        ></span>
        <span class="legend-chart-text">Lançados</span>
      </div>
      <div class="legend-chart-item">
        <span class="legend-chart-color" 
          style=" background: #F64E60 !important; color: #F64E60;"
        ></span>
        <span class="legend-chart-text">Pendentes</span>
      </div>
    </div>
  </div>

  <div class="card-body d-flex content-charts">
    <ng-container *ngIf="launchedPending$ | async as _data">
      <div class="container-chart">
        <app-dailies-chart [data]="_data"></app-dailies-chart>
      </div>
  
      <div class="container-chart">
        <app-dailies-chart-group [data]="_data"></app-dailies-chart-group>
      </div>
    </ng-container>
    
  </div>
</div>